/*===========================================================================
                            General Styles
============================================================================*/

body {
    font-family: 'Tajawal', sans-serif;
    color: #fff;
    overflow-x: hidden;
}

.overflow {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    background: #fff;
}

 ::-webkit-scrollbar-thumb {
    background: #ff711f;
    border-radius: 5px;
    border: 1px solid #fff;
}


/*===========================================================================
                        Bootstrap Edits Styles
============================================================================*/


/*===========================================================================
                            My Basic Styles
============================================================================*/


/*********************** Header Section Start **********************/

header {
    background-color: #0046c3;
}


/* Start of Search  & Language Area */

header .header-content {
    padding: 15px 0px 25px 0px;
}

header .header-content .logo {
    width: 100%;
}

header .header-content .logo img {
    max-width: 100%;
}

header .header-content .search-lang {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
}

header .header-content .search-lang .serach-bar {
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 5px;
}

header .header-content .search-lang .serach-bar .cat-button {
    width: 160px;
}

header .header-content .search-lang .serach-bar .btn-default {
    background-color: #ff711f;
    color: #fff;
    text-transform: uppercase;
    font-family: "ta-bold";
    font-size: 16px;
    border: none;
    border-radius: 0;
    height: 40px;
    line-height: 30px;
    outline: none !important;
    box-shadow: none;
}

header .header-content .search-lang .serach-bar .dropdown-menu>li>a {
    outline: none !important;
    font-family: "ta-bold";
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 10px;
    transition: all 0.4s ease-in-out;
}

header .header-content .search-lang .serach-bar .dropdown-menu>li>a:hover {
    background-color: #ff711f;
    color: #fff;
}

header .header-content .search-lang .serach-bar input {
    width: 300px;
    outline: 0;
    border: none;
    font-family: "ta-regular";
    font-size: 16px;
    padding: 0px 20px;
    color: #000;
}

header .header-content .search-lang .serach-bar input::placeholder {
    font-family: "ta-regular";
    font-size: 16px;
}

header .header-content .search-lang .serach-bar .search-button {
    background-color: transparent;
    outline: 0;
    border: none;
    position: absolute;
    top: 6px;
    right: 14px;
    color: #ff711f;
    transition: all 0.4s ease-in-out;
    padding: 5px 9px;
    font-size: 15px;
}

header .header-content .search-lang .serach-bar .search-button:hover {
    background-color: #ff711f;
    color: #fff;
    border-radius: 50%;
}

header .header-content .search-lang .language,
header .header-content .search-lang .currency {
    margin-right: 0px;
    background-color: transparent;
    border: none;
    outline: 0;
    text-transform: uppercase;
    font-family: "ta-bold";
    font-size: 14px;
    transition: all 0.4s ease-in-out;
}

header .header-content .search-lang .language:hover,
header .header-content .search-lang .currency:hover {
    color: #ff711f;
}

header .header-content .search-lang .language .btn-default,
header .header-content .search-lang .currency .btn-default {
    background-color: transparent;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    outline: none !important;
    box-shadow: none;
    transition: all 0.4s ease-in-out;
}

header .header-content .search-lang .language .btn-default:hover,
header .header-content .search-lang .currency .btn-default:hover {
    color: #ff711f;
}

header .header-content .search-lang .language .dropdown-menu>li>a,
header .header-content .search-lang .currency .dropdown-menu>li>a {
    outline: none !important;
    padding: 5px 8px;
    transition: all 0.4s ease-in-out;
}

header .header-content .search-lang .language .dropdown-menu>li>a:hover,
header .header-content .search-lang .currency .dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #ff711f;
}

header .header-content .search-lang .language option,
header .header-content .search-lang .currency option {
    background-color: #fff;
    color: #000;
    padding: 10px;
}


/* Start of Social & User Data Area */

header .header-content .user-data {
    padding-top: 35px;
}

header .header-content .user-data .social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
}

header .header-content .user-data .social .hidden-button {
    background-color: transparent;
    outline: 0;
    border: none;
    margin-right: 30px;
    display: none;
    transition: all 0.4s ease-in-out;
}

.search-hidden header .header-content .user-data .social button:hover i {
    color: #ff711f;
}

header .header-content .user-data .social .search-hidden {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    display: none;
    transition: all 0.4s ease-in-out;
}

header .header-content .user-data .social .user-config,
header .header-content .user-data .social .like {
    color: #fff;
    text-decoration: none;
    margin-left: 27px;
    transition: all 0.4s ease-in-out;
    padding: 5px 0 0;
}

header .header-content .user-data .social .shop-cart .shop {
    position: relative;
    margin-left: 27px;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    transition: all 0.4s ease-in-out;
}

header .header-content .user-data .social .user-config:hover,
header .header-content .user-data .social .like:hover,
header .header-content .user-data .social .shop-cart .shop:hover,
header .header-content .user-data .social .search-hidden:hover {
    color: #ff711f;
}

header .header-content .user-data .social .shop-cart .shop .counter {
    position: absolute;
    bottom: 14px;
    left: 14px;
    width: 20px;
    height: 20px;
    background-color: #ff711f;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-family: "ta-bold";
    font-size: 14px;
    transition: all 0.4s ease-in-out;
}

header .header-content .user-data .social .shop-cart .shop:hover span {
    color: #ff711f;
    background-color: #fff;
}


/*********************** Nav Section Start **********************/

nav {
    background-color: #003faf;
}

nav .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Start Shop by Item */

nav .nav-items .nav-links {
    display: flex;
    flex-direction: row;
    position: relative;
}

nav .nav-items .nav-links .shop-by-room .shop-by-link {
    display: flex;
    flex-direction: row;
    color: #fff;
    text-decoration: none;
    background-color: #00399d;
    padding: 10px 25px 0px;
    width: 210px;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

nav .nav-items .nav-links .shop-by-room .shop-by-link i {
    margin-right: 15px;
    font-size: 19px;
    margin-top: 3px;
}

nav .nav-items .nav-links .shop-by-room .shop-by-link p {
    text-transform: uppercase;
    font-family: "ta-bold";
    font-size: 16px;
}

nav .nav-items .nav-links .shop-by-room .shop-by-link:hover {
    color: #ff711f;
}

nav .nav-items .nav-links .shop-by-room ul {
    position: absolute;
    top: 100%;
    z-index: 9999;
    width: 210px;
    display: none;
    padding: 3px 0;
}

nav .nav-items .nav-links .shop-by-room ul li {
    padding: 10px 25px;
    background-color: #fff;
    font-family: "ta-bold";
    transition: all 0.4s ease-in-out;
}

nav .nav-items .nav-links .shop-by-room ul li:first-child {
    padding-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav .nav-items .nav-links .shop-by-room ul li:last-child {
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav .nav-items .nav-links .shop-by-room ul li a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
}

nav .nav-items .nav-links .shop-by-room ul li:hover {
    background-color: #ff711f;
    cursor: pointer;
}

nav .nav-items .nav-links .shop-by-room ul li:hover a {
    color: #fff;
}

nav .nav-items .nav-links .shop-by-room:hover ul {
    display: block;
}


/* Start Nav Links */

nav .nav-items .nav-links .nav-links-items {
    padding-top: 10px;
    margin-left: 30px;
}

nav .nav-items .nav-links .nav-links-items ul {
    display: flex;
    flex-direction: row;
}

nav .nav-items .nav-links .nav-links-items ul li {
    margin-right: 30px;
}

nav .nav-items .nav-links .nav-links-items ul li a {
    color: #fff;
    text-decoration: none;
    font-family: "ta-medium";
    font-size: 16px;
    transition: all 0.4s ease-in-out;
}

nav .nav-items .nav-links .nav-links-items ul li:hover a {
    color: #ff711f;
}


/* Start Hot Line */

nav .nav-items .hot-line {
    text-transform: uppercase;
    font-family: "ta-bold";
    font-size: 14px;
    padding-top: 10px;
}

nav .nav-items .hot-line a {
    color: #ff711f;
    text-decoration: none;
    margin-left: 5px;
}


/*********************** Main Slider Section Start **********************/

.main-slider .item {
    position: relative;
}

.main-slider .item .item-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.main-slider .item .item-layer .item-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.main-slider .item .item-layer .item-content h3 {
    font-family: "mo-regular";
    font-size: 30px;
    text-transform: uppercase;
}

.main-slider .item .item-layer .item-content h2 {
    font-family: "mo-extra-bold";
    font-size: 72px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.main-slider .item .item-layer .item-content a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "mo-semi-bold";
    font-size: 18px;
    background-color: #ff711f;
    width: 180px;
    height: 50px;
    padding: 10px 20px;
    transition: all 0.4s ease-in-out;
}

.main-slider .item .item-layer .item-content a:hover {
    background-color: #fff;
    color: #ff711f;
    border: 3px solid #ff711f;
}


/* Owl Carousel Nav */

.main-slider .owl-carousel .owl-nav .owl-prev,
.main-slider .owl-carousel .owl-nav .owl-next {
    width: 50px;
    height: 50px;
    margin: 0px;
    outline: 0px;
}

.main-slider .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.main-slider .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.main-slider .owl-carousel .owl-nav .owl-prev i,
.main-slider .owl-carousel .owl-nav .owl-next i {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.4s ease-in-out;
}

.main-slider .owl-carousel .owl-nav .owl-prev i:hover,
.main-slider .owl-carousel .owl-nav .owl-next i:hover {
    background-color: #ff711f;
    color: #fff;
}

.main-slider .owl-carousel .owl-dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.main-slider .owl-carousel button.owl-dot {
    outline: 0;
}

.main-slider .owl-carousel button.owl-dot span {
    background-color: #fff;
    transition: all 0.4s ease-in-out;
}

.main-slider .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #ff711f;
}

.main-slider .owl-carousel .owl-dots .owl-dot.active span {
    background-color: #ff711f;
}


/*********************** Categories Section Start **********************/

.cat {
    margin-top: 70px;
    margin-bottom: 70px;
}

.cat .cat-item {
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.cat .cat-item a {
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}

.cat .cat-item .cat-image {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cat .cat-item img {
    width: auto;
    margin: 0 auto;
    filter: grayscale(1%);
    transition: all 0.4s ease-in-out;
}

.cat .cat-item span {
    text-align: center;
    margin-top: 20px;
    font-family: "ta-bold";
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.cat .cat-item:hover span {
    color: #ff711f;
}

.cat .cat-item:hover img {
    filter: invert(74%) sepia(87%) saturate(4889%) hue-rotate(346deg) brightness(102%) contrast(101%);
}

.cat .owl-carousel .owl-nav .owl-prev,
.cat .owl-carousel .owl-nav .owl-next {
    margin: 0px;
    outline: 0px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.cat .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
}

.cat .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -35px;
}

.cat .owl-carousel .owl-nav .owl-prev i,
.cat .owl-carousel .owl-nav .owl-next i {
    color: #aaa;
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin: 0;
    line-height: 30px;
    display: block;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

.cat .owl-carousel .owl-nav .owl-prev:hover i,
.cat .owl-carousel .owl-nav .owl-next:hover i {
    color: #fff;
    background-color: #ff711f;
}

.cat .owl-carousel button.owl-dot {
    outline: 0;
}

.cat .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #ff711f;
}

.cat .owl-carousel .owl-dots .owl-dot.active span {
    background-color: #ff711f;
}


/*********************** Offers Section Start **********************/

.offers .img-box,
.offers .img-box2,
.offers .img-box-center {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}

.offers .img-box .big-anc,
.offers .img-box2 .big-anc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.offers .img-box img,
.offers .img-box2 img,
.offers .img-box-center img {
    width: 100%;
}

.offers .img-box .inner-content,
.offers .img-box2 .inner-content,
.offers .img-box-center .inner-content {
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    text-align: left;
    width: 100%;
}

.offers .img-box .inner-content h2,
.offers .img-box .inner-content .inner-anc {
    margin-left: 50px;
}

.offers .img-box2 .inner-content h2,
.offers .img-box-center .inner-content h2,
.offers .img-box-center .inner-content h3 {
    text-align: center;
}

.offers .img-box .inner-content h2,
.offers .img-box2 .inner-content h2 {
    font-family: "mo-extra-bold";
    font-size: 30px;
    margin-bottom: 20px;
}

.offers .img-box-center a {
    color: #fff;
    text-decoration: none;
}

.offers .img-box .inner-content .inner-anc,
.offers .img-box2 .inner-content .inner-anc {
    color: #fff;
    text-decoration: none;
    background-color: #ff711f;
    padding: 10px 20px;
    transition: all 0.4s ease-in-out;
    font-family: "mo-semi-bold";
    font-size: 16px;
    transition: all 0.4s ease-in-out;
    display: inline-block;
}

.offers .img-box2 .inner-content .inner-anc {
    font-size: 15px;
}

.offers .img-box2 .inner-content .inner-anc {
    margin-left: 50%;
    transform: translateX(-50%);
}

.offers .img-box .inner-content .inner-anc:hover,
.offers .img-box2 .inner-content .inner-anc:hover {
    color: #ff711f;
    background-color: #fff;
}

.offers .img-box2 .inner-content h2 {
    font-size: 24px;
}

.offers .img-box-center .inner-content h3 {
    font-family: "mo-regular";
    font-size: 30px;
    margin-bottom: 10px;
}

.offers .img-box-center .inner-content hr {
    border: 1px solid #fff;
    display: block;
    width: 7%;
    margin: 0px auto;
}

.offers .img-box-center .inner-content h2 {
    font-family: "mo-bold";
    font-size: 50px;
    margin-top: 10px;
}


/*********************** Best Sellers Section Start **********************/

.best-sellers {
    margin-top: 60px;
    color: #000;
}

.best-sellers h3 {
    margin-bottom: 50px;
    font-family: "ta-extra-bold";
    font-size: 30px;
    text-transform: uppercase;
}

.best-sellers .my-car-item {
    width: 100%;
    height: 100%;
}

.best-sellers .my-car-item a {
    color: #000;
    text-decoration: none;
}

.best-sellers .my-car-item .mycar-img-box {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.best-sellers .my-car-item .mycar-img-box img {
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.best-sellers .my-car-item .mycar-img-box:hover img {
    transform: scale(1.05);
}

.best-sellers .my-car-item .mycar-img-box .new,
.best-sellers .my-car-item .mycar-img-box .discount {
    position: absolute;
    display: block;
    padding: 0px 10px;
    color: #fff;
    font-family: "ta-bold";
    font-size: 15px;
    text-transform: uppercase;
}

.best-sellers .my-car-item .mycar-img-box .new {
    top: 10px;
    right: 10px;
    background-color: #0046c3;
}

.best-sellers .my-car-item .mycar-img-box .discount {
    top: 10px;
    left: 10px;
    background-color: #ff711f;
}

.best-sellers .my-car-item .mycar-text-box {
    margin-left: 10px;
}

.best-sellers .my-car-item .mycar-text-box .item-name {
    font-family: "ta-regular";
    font-size: 17px;
    height: 30px;
}

.best-sellers .my-car-item .mycar-text-box .item-price {
    color: #ff711f;
    font-family: "ta-bold";
    font-size: 20px;
    text-transform: uppercase;
}

.best-sellers .my-car-item .mycar-text-box .item-price span {
    text-decoration: line-through;
    color: #b2b2b2;
    font-family: "ta-medium";
    font-size: 16px;
    margin-left: 5px;
}

.best-sellers .owl-carousel .owl-nav .owl-prev,
.best-sellers .owl-carousel .owl-nav .owl-next {
    margin: 0px;
    outline: 0px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.best-sellers .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 30%;
    left: -35px;
}

.best-sellers .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 30%;
    right: -35px;
}

.best-sellers .owl-carousel .owl-nav .owl-prev i,
.best-sellers .owl-carousel .owl-nav .owl-next i {
    color: #aaa;
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 30px;
    border-radius: 5px;
    display: block;
    transition: all 0.4s ease-in-out;
}

.best-sellers .owl-carousel .owl-nav .owl-prev:hover i,
.best-sellers .owl-carousel .owl-nav .owl-next:hover i {
    color: #fff;
    background-color: #ff711f;
}

.best-sellers .owl-carousel button.owl-dot {
    outline: 0;
}

.best-sellers .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #ff711f;
}

.best-sellers .owl-carousel .owl-dots .owl-dot.active span {
    background-color: #ff711f;
}


/*********************** Big Offer Section Start **********************/

.big-offer {
    margin-top: 50px;
    margin-bottom: 100px;
}

.big-offer .offer-box {
    width: 100%;
    position: relative;
}

.big-offer .offer-box .offer-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.big-offer .big-offer-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    text-align: center;
    text-transform: uppercase;
}

.big-offer .big-offer-content h3 {
    font-family: "mo-regular";
    font-size: 40px;
    margin-bottom: 5px;
}

.big-offer .big-offer-content hr {
    display: block;
    border: 1px solid #fff;
    width: 7%;
    margin: 0px auto;
    background-color: #fff;
}

.big-offer .big-offer-content h2 {
    font-family: "mo-bold";
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.big-offer .big-offer-content a {
    color: #fff;
    text-decoration: none;
    background-color: #ff711f;
    font-family: "mo-semi-bold";
    font-size: 18px;
    padding: 10px 40px;
    transition: all 0.4s ease-in-out;
}

.big-offer .big-offer-content a:hover {
    background-color: #fff;
    color: #ff711f;
    border: 3px solid #ff711f;
}


/*********************** Taps Section Start **********************/

.best-sellers .mo-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70px;
}

.best-sellers .mo-tabs li {
    margin-right: 30px;
}

.best-sellers .mo-tabs li a {
    color: #000;
    text-decoration: none;
    font-family: "ta-extra-bold";
    font-size: 30px;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
}

.best-sellers .mo-tabs li:hover a {
    color: #ff711f;
    text-decoration: underline;
}

.best-sellers .mo-tabs li.active a {
    color: #ff711f;
    text-decoration: underline;
}


/*********************** Features Section Start **********************/

.features {
    color: #000;
    margin-top: 130px;
    background-color: #fafafa;
    padding: 70px 0;
}

.features .feature {
    display: flex;
    flex-direction: column;
}

.features .feature .icon {
    font-size: 24px;
    color: #ff711f;
    margin-right: 10px;
}

.features .feature .fe-head {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.features .feature .feature-name {
    font-family: "ta-medium";
    font-size: 18px;
    text-transform: uppercase;
}

.features .feature p {
    font-family: "ta-regular";
    font-size: 16px;
    color: #b0b0b0;
    margin-left: 33px;
    text-transform: capitalize;
}


/*********************** Footer Section Start **********************/

footer {
    background-color: #0046c3;
    padding: 70px 0;
}

footer .footer-top {
    margin-bottom: 80px;
}

footer .footer-top h3 {
    margin-bottom: 30px;
    font-family: "ta-bold";
    font-size: 18px;
    text-transform: uppercase;
}

footer .footer-top .footer-links li {
    margin-bottom: 10px;
    text-transform: capitalize;
}

footer .footer-top .footer-links li a {
    color: #fff;
    text-decoration: none;
    font-family: "ta-regular";
    font-size: 16px;
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
}

footer .footer-top .footer-links li:hover a {
    color: #ff711f;
    opacity: 1;
}

footer .footer-top .your-mail {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

footer .footer-top .your-mail input {
    width: 100%;
    height: 40px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0;
    background-color: #fff;
    color: #000;
    font-family: "ta-medium";
    font-size: 16px;
}

footer .footer-top .your-mail input::placeholder {
    font-family: "ta-regular";
    font-size: 16px;
}

footer .footer-top .your-mail button {
    position: absolute;
    top: 6px;
    right: 10px;
    background-color: transparent;
    outline: 0;
    width: 30px;
    height: 30px;
    border: none;
    color: #0046c3;
    transition: all 0.4s ease-in-out;
}

footer .footer-top .your-mail button:hover {
    background-color: #0046c3;
    color: #fff;
    border-radius: 50%;
}

footer .footer-top .your-mail button span {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    width: 100%;
    height: 100%;
    display: block;
}

footer .footer-top .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .footer-top .social-icons li {
    margin-right: 10px;
}

footer .footer-top .social-icons li:last-child {
    margin-right: 0;
}

footer .footer-top .social-icons li a {
    text-decoration: none;
}

footer .footer-top .social-icons li i {
    width: 50px;
    height: 50px;
    font-size: 19px;
    background-color: #003ca6;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    transition: all 0.4s ease-in-out;
}

footer .footer-top .social-icons li:hover i {
    background-color: #ff711f;
}


/*footer bottom*/

footer .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .footer-bottom .copyrightes p {
    font-family: "ta-light";
    font-size: 15px;
    margin-right: 5px;
    padding-top: 0px;
    text-align: center;
}

footer .footer-bottom .copyrightes .tasawk {
    display: inline-block;
}

footer .footer-bottom .payment {
    margin-top: 10px;
}


/*========================= Display Class ============================*/

.display {
    display: block;
}


/*=======================================================================
                                Loading Overlay 
========================================================================= */

.loading-overlay {
    background: #ccc;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.loading-overlay img {
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}